<!DOCTYPE html>
<html {{site.language_attributes}}>
  <head>
    <meta charset='{{site.charset}}'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style> {% include 'statics/css/critical.css' %} </style>
    <title>{{site.title}}</title>
    {{wp_head}}
    {% block head %}{% endblock %}
  </head>
  <body class='{{body_class}}'>
    <div id='wrapper'>
      <header id='header'>
        {% block header %}{% include 'components/header/header.twig' %}{% endblock %}
      </header>

      <div id="content">
        {% block content %}{% endblock %}
      </div>

      <footer id="footer">
        {% block footer %}{% include 'components/footer/footer.twig' %}{% endblock %}
      </footer>
    </div>
    {{wp_footer}}
    {% block scripts %}{% endblock %}
  </body>
</html>
