<!DOCTYPE html>
<html {{site.language_attributes}}>
  <head>
    <meta charset='{{site.charset}}'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style> {% include 'statics/css/critical.css' %} </style>
    <title>{{site.title}}</title>
    <link rel='stylesheet' type='text/css' href='{{theme.link}}/statics/css/style.css' media='screen'>
    <link rel='shortcut icon' type='image/x-icon' href='{{theme.link}}/statics/img/favicon.png'>
    {{wp_head}}
    {% block head %}{% endblock %}
  </head>
  <body class='{{body_class}}'>
    <div id='wrapper'>
      <header id='header'>
        {% block header %}{% include 'components/header.twig' %}{% endblock %}
      </header>

      <div id="content">
        {% block content %}{% endblock %}
      </div>

      <footer id="footer">
        {% block footer %}{% include 'components/footer.twig' %}{% endblock %}
      </footer>
    </div>
    {{wp_footer}}
    <script type='text/javascript' src='{{theme.link}}/statics/js/bundler.js'></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
